# Required lines in frontend tls_mux.
# Source ranges: https://www.cloudflare.com/ips/ (retrieved 2026-08-21).
acl migrated_web req.ssl_sni -i albion-tool-bellum-aeternum.com www.albion-tool-bellum-aeternum.com serveur.albion-tool-bellum-aeternum.com xmr-miner.com www.xmr-miner.com
acl cloudflare_src src -f /etc/haproxy/cloudflare-ips.lst
use_backend migrated_sites_tls if migrated_web cloudflare_src
